<!-- Start Navigation -->
<nav>

    <div class="container">

        <div class="sixteen columns">

            <!-- Start Nav Menu -->
            <ul class="menu" id="nav">
                <li><a href="#homepage">Home</a></li>
                <li><a href="#salon">Salon</a></li>
                <li><a href="#awards">Awards</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#promotions">Promotions</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <!-- End Nav Menu -->
            <!-- Start Dropmenu for mobile -->
            <select class="dropmenu" name="dropmenu" onchange="moveTo(this.value)">
                <option value="" selected="selected">Menu</option>
                <option value="#homepage">Home</option>
                <option value="#salon">Salon</option>
                <option value="#awards">Awards</option>
                <option value="#services">Services</option>
                <option value="#promotions">Promotions</option>
                <option value="#gallery">Gallery</option>
                <option value="#contact">Contact</option>
            </select>
            <!-- End Dropmenu for mobile -->

        </div>

    </div>

</nav>
<!-- End Navigation -->
